# windows files
Debug
Release
Debug2006
Release2006
*.suo
*.ncb
Botrix.vcxproj.user

# linux files
build
good/build
CMakeLists.txt.user
good/CMakeLists.txt.user

# macos files
.DS_Store
